/*
export const Colors = {
  blue: "#3D5278",
  gray: "#777C84",
  lightBlue: "#80A9D8",
  secondLightBlue: "#87ADDA"
  pink: "#DA8787"
};

*/
h1,
h2,
h3,
h4 {
  font-family: "Roboto Mono", monospace;
  margin: unset;
}

input {
  border: none;
  outline: none;
  font-family: "Raleway", open-sans;
  font-size: 32px;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

p {
  padding: unset;
  margin: unset;
}

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.overflow-y-hidden {
  overflow-y: hidden;
}

input::placeholder {
  color: #c6c4c4;
}

.picture-card {
  display: block;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
}

.header {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  height: 64px;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid rgba(0, 0, 0, 0.3) 1px;
  box-shadow: -2px 2px 20px rgba(0, 0, 0, 0.3);
  background: white;
  z-index: 999;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  width: 60%;
  align-self: center;
}

.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 60%;
}

.nsfw-results-info {
  color: #da8787;
  font-weight: 400;
  font-size: 12px;
  margin-top: 32px;
}

.main-input-container::after {
  content: " ";
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, #777c84, black);
  animation: move-background 10s infinite;
}

.search-input {
  color: #777c84;
  padding-right: 64px;
}

.search-input.on-header {
  border-bottom: solid black 1px;
  font-size: 18px;
}

.header-input-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}

.lightbox-description-container {
  padding: 32px;
  border-bottom: solid #a0a0a0 2px;
  width: 100%;
}

.lightbox-description-container > p {
  color: #777c84;
  font-weight: 400;
  font-size: 18px;
  font-family: "Roboto Mono", monospace;
}

.search-btn.on-header {
  border: #777c84 solid 1px;
  width: 20%;
  height: 40px;
  color: #777c84;
  font-weight: 400;
  font-size: 18px;
  font-family: "Roboto Mono", monospace;
  transition: background-color 0.2s ease, color 0.2s ease;
  cursor: pointer;
  outline: none;
}

.nsfw-checkbox-container {
  display: flex;
  position: absolute;
  align-self: flex-end;
  padding-bottom: 6px;
}

.nsfw-checkbox {
  position: absolute;
  align-self: center;
  height: 15px;
  width: 15px;
  opacity: 0;
}

.nsfw-checkbox:checked ~ .check-label {
  color: #777c84;
  text-shadow: #777c84 0px 0px 3px;
  animation: button-in 0.2s ease-in-out forwards;
}

.check-label {
  outline: none;
  font-size: 28px;
  font-weight: 300;
  text-shadow: #828080 0px 0px 11px;
  color: white;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.radio {
  position: absolute;
  opacity: 0;
}

.sort-by > h4 {
  font-size: 16px;
  margin: unset;
}

.sort-by {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
}

.pad16 {
  padding: 16px;
}

.check-label::selection {
  background-color: white;
}

.check-label.blue-label {
  transition: all 0.1s ease-in-out;
}

.input-wrapper {
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(20vh);
}

.radio:checked ~ .check-label.blue-label {
  color: #777c84;
  text-shadow: #777c84 0px 0px 3px;
  animation: button-in 0.2s ease-in-out forwards;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  /*height: 100%;*/
}

.home-container.start {
  animation: fade-in 0.2s forwards ease;
}

.home-container.animate {
  animation: scroll-down 1s forwards;
}

.main-logo {
  width: 10%;
  height: 10%;
  min-height: 38px;
  min-width: 130px;
}

.search-btn {
  border: #777c84 solid 1px;
  margin: 32px;
  width: 60%;
  height: 80px;
  color: #777c84;
  font-weight: 400;
  font-size: 22px;
  font-family: "Raleway", open-sans;
  transition: background-color 0.2s ease, color 0.2s ease;
  cursor: pointer;
  outline: none;
}

.search-btn:hover {
  background: #777c84;
  color: white;
}

#picture-cards-wrapper {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
}

.picture-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  width: 90%;
}

.picture-card-container {
  display: flex;
  margin: 8px;
  transition: all 0.2s ease;
  overflow: hidden;
  cursor: pointer;
  min-height: 265px;
  min-width: 265px;
  opacity: 1;
  justify-content: center;
  background: white;
  position: relative;
  width: calc(25vw);
  height: calc(25vw);
  transition: box-shadow 0.5s ease;
  box-shadow: 0px 0px 6px rgba(136, 134, 134, 0.4);
}

.picture-card-copy-container {
  display: flex;
  margin: 8px;
  transition: all 0.2s ease;
  cursor: pointer;
  height: 400px;
  width: 400px;
  opacity: 0;
  z-index: -1;
}

.picture-card-background {
  position: absolute;
  opacity: 0.5;
  background-size: contain;
  width: calc(25vw);
  height: calc(25vw);
}

.picture-card-copy-container.animate-in > img.picture-card-copy {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.picture-card-container.hide {
  opacity: 0;
}

.picture-card-copy-container.animate-in {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  position: fixed;
  top: 13%;
  bottom: 0;
  left: 10%;
  right: 0;
  background-color: black;
  height: calc(25vw);
  width: calc(25vw);
  background-color: rgba(0, 0, 0, 0.3);
  animation: fade-to-lightbox 0.1s forwards ease;
  z-index: 8;
  display: none;
}

.picture-card-copy-container {
  display: flex;
  position: absolute;
  margin: 8px;
  cursor: pointer;
  opacity: 0;
}

.picture-card-container:hover {
  box-shadow: -1px 4px 6px rgba(136, 134, 134, 0.3);
}

.picture-card-container:hover > .slick-slider > button {
  opacity: 1;
}

.slick-slider > button {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.picture-card-container:hover > .picture-title {
  opacity: 1;
}

.picture-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.picture-card-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(25vw);
  width: calc(25vw);
  background: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  min-height: 265px;
  min-width: 265px;
  background-size: 300% 300%;
  animation: fade-in 0.5s ease forwards, loading-bg 1s ease infinite forwards;
}

.picture-title {
  background: linear-gradient(180deg, black, transparent);
  color: white;
  display: flex;
  position: absolute;
  align-self: flex-start;
  width: 400px;
  padding: 8px;
  opacity: 0;
  transition: all 0.2s ease;
}

.picture-title > h2 {
  font-size: 16px;
  font-weight: 400;
}

.picture-card-container:hover > .picture-info-container {
  transform: translate(0px, 0px);
}

.picture-info-container {
  display: flex;
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: 30%;
  align-items: flex-end;
  justify-content: flex-end;
  align-self: flex-end;
  padding: 8px;
  position: absolute;
  transform: translate(0px, 108px);
  transition: transform 0.5s ease;
}

.picture-info-column-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.picture-card-bottom-info {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

.picture-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: flex-end;
}

.small-picture-icon {
  display: flex;
  height: 15px;
  width: 15px;
  position: relative;
}

.smallest-picture-icon {
  display: flex;
  height: 10px;
  width: 10px;
  position: relative;
  margin-right: 4px;
  margin-left: 4px;
}

.picture-card-title {
  font-size: calc(0.6vw + 8px);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  max-height: 48px;
  overflow: hidden;
}

.picture-info-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-right: 8px;
}

.picture-info-element > p {
  margin: unset;
  font-family: "Roboto Mono", monospace;
  margin-left: 2px;
  font-size: 12px;
  color: #777c84;
}

.picture-container {
  display: flex !important;
  align-items: center;
  align-self: center;
  justify-content: center;
  height: 100%;
}

.image-container {
  position: absolute;
  box-shadow: -2px 2px 20px rgba(0, 0, 0, 0.3);
  width: 50%;
  min-width: 325px;
  background: white;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  top: 10%;
}

.image {
  display: block;
  max-width: 90%;
  /*max-height: 90vh;*/
  top: 50%;
  left: 50%;
  /*min-width: 655px;*/
}

.image-container > .slick-slider {
  box-shadow: -2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 8px;
  /*min-height: 650px;*/
}

.picture-info-lightbox {
  width: 100%;
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 32px;
  flex: 1;
}

.lightbox-comments {
  display: flex;
  flex-direction: column;
  box-shadow: #777c842b 1px 1px 26px;
  padding-left: 4px;
  width: 100%;
  padding: 16px 24px 16px 24px;
  max-height: 330px;
  margin: 0 auto;
  min-height: 350px;
}

.comments-container {
  padding-top: 16px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 370px;
  padding-bottom: 16px;
}

.comments-container > div > p {
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  color: #a0a0a0;
}

.comment-element {
  width: fit-content;
  height: auto;
  border-left: solid #a0a0a0 2px;
  padding-top: 4px;
  padding-left: 12px;
  flex-direction: column;
  max-width: 500px;
}

.slick-prev {
  left: 16px;
}

.comment {
  width: fit-content;
}

.comment:hover {
}

.comment-text {
  font-size: 12px;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
}

.comments-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 95%;
  height: 35px;
  background-color: white;
  color: #a0a0a0;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
}

.comments-header > h4 {
  font-weight: 300;
  font-size: 18px;
  margin: unset;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

.comments-header > p {
  padding-left: 4px;
  font-size: 10px;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

.comment-author {
  display: flex;
  font-size: 10px;
  color: #777c84;
  margin-right: 8px;
  /*transform: translateY(-15px);*/
}
.comment-author > span:nth-child(2) {
  margin-left: 8px;
}
.lightbox-title-container {
  padding: 32px;
  background: white;
  box-shadow: 0px 0px 6px rgba(136, 134, 134, 0.4);
  margin-bottom: 8px;
  width: 100%;
}

.lightbox-title {
  display: flex;
  flex: 0.1;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 2px;
}

.lightbox-comment-input-container {
  display: flex;
  bottom: 0;
  z-index: 99;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: #777c842b 1px 1px 26px;
  padding: 16px;
  width: 100%;
  height: 150px;
  margin-bottom: 32px;
  margin-top: 16px;
}

.lightbox-comment-input-container > form {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.lightbox-comment-input-container > form > textarea {
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto Mono", monospace;
  outline: none;
  border: none;
  resize: none;
}

.lightbox-comment-likes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  color: #a0a0a0;
  font-family: "Roboto Mono", monospace;
}

.lightbox-comment-likes > p {
  color: inherit;
  font-family: inherit;
  font-weight: 500;
}

.add-comment-btn {
  font-weight: 600;
  color: #80a9d8;
  margin: unset;
  font-size: 22px;
  cursor: pointer;
  align-self: flex-end;
  border: #777c84 solid 1px;
  width: 15%;
  height: 40px;
  color: #777c84;
  font-weight: 400;
  font-size: 18px;
  font-family: "Roboto Mono", monospace;
  transition: background 0.5s ease;
  cursor: pointer;
  outline: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  outline: none;
  min-width: 80px;
  z-index: 999;
}

.add-comment-btn:hover {
  background: #777c84;
  color: white;
}

.lighbox-commnent-input {
  font-size: 16px;
  width: 100%;
  background: transparent;
}

.lightbox-picture-info {
  padding: 32;
}

.lightbox-picture-data {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  font-size: 8px;
  border: solid #80d897 4px;
  margin-right: 8px;
  font-family: "Roboto Mono", monospace;
  padding: 2px 6px 2px 6px;
}

.likes {
}

.likes-icon {
  height: 20px;
  width: 20px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

.views-icon {
  height: 20px;
  width: 35px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

.likes-text {
  font-size: 16px;
  color: #a0a0a0;
}

.picture-info-comments {
  display: flex;
  flex-direction: row;
}

.picture-lightbox-container {
  justify-content: center;
  opacity: 0;
  align-items: center;
  display: flex;
  flex: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  height: 100%;
  width: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.3);
  animation: fade-in 0.5s forwards;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 168px;
}

.lighbox-comment-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.lightbox-picture-basic-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 16px;
}
.lighbox-primary-info {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

.comment-points {
  font-size: 10px;
}

.slick-slider {
  display: flex;
  width: 100%;
}

.slick-next {
  right: 16px;
}

.slick-arrow {
  z-index: 9;
}

.card-content.small > div.slick-slider {
  /*flex: 1;*/
}

.card-content.small > div.slick-slider > div.slider-btn-wrapper.next {
  /*left: 150px;*/
}

.slick-list,
.slick-track {
  height: 100%;
  width: 100%;
}

.slick-initialized .slick-slide {
  display: flex;
  align-items: center;
}

.slick-dots li {
  width: 5px;
  height: 5px;
}

.slick-dots li button:before {
  color: white;
  text-shadow: #424040 1px 1px 4px;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: white;
}

.slick-dots {
  bottom: unset;
}

.slick-slide.slick-active.slick-current {
  justify-content: center;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-and-slide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-to-lightbox {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes move-background {
  from {
    background-position-x: 10px;
  }
  to {
    background-position-x: 100px;
  }
}

@keyframes button-in {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(0.98);
  }
}

@keyframes loading-bg {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

@media screen and (max-width: 1070px) {
  .picture-lightbox-container {
    overflow-y: scroll;
  }
  .image-container {
    flex-direction: column;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 850px) {
  .form-container {
    width: 100%;
  }
  .search-input {
    font-size: 22px;
  }
  .nsfw-checkbox-container {
    padding-bottom: unset;
  }
  .sort-by {
    flex-direction: column;
  }
  .pad16 {
    padding: unset;
  }
}

@media screen and (max-width: 475px) {
  .nsfw-checkbox-container {
    padding-bottom: 6px;
  }
  html,
  body {
    overflow-x: hidden;
  }
  .main-input-container {
    width: 80%;
  }
  .search-btn {
    width: 80%;
  }
}
